body {
    background-image: url("https://yinkya.github.io/ip/IMG_0379.jpeg");
}

.user, #comment, .box.clearfix, #box2, #d_user_list, .clearfix.li_room.li_items, 
#room_desc_wrap, #mes_wrap.nonroom, #div_view, .submit_wrap, .list, #room_title, 
.user_name, .tabs.clearfix, .mes_wrap {
    border-radius: 10px;
    background-color: #333;
    color: #fff;
}

.user {
    border-color: #616161;
    border-radius: 50px;
}

.btn, .cat2.on {
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#box2_top_tabs, .cat2 {
    background-color: #212121;
    border-radius: 7px;
    color: #fff;
}

#i_search {
    border-radius: 15px;
}

.s0, .cat1, .h.clearfix.ipop_title.b, .clearfix.tos {
    color: #bdbdbd;
}
